body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
.Home_image{
    display: flex;
    justify-content: center;
}
.description{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 12px;

}
.items_lists{
    display: flex;
    justify-content: space-around;
    
}
ul li{
    font-size: 18px;
    line-height: 0.7cm;
}
.Instructions ol li {
    font-size: 18px;
    line-height: 0.8cm;
}