.homepage_image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
h1{
    text-align: center;
    font-size: 50px
}
ul{
    display: flex;
    text-align: center;
    font-size: 24px;
}

ul li {
    list-style: none;
    padding: 24px;
    text-decoration:none ;
    display: inline;
    
}
ul img{
    width: 100%;
    height: auto;
}
ul a {
    text-decoration: none;
}