.homepage_image{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
h1{
    text-align: center;
    font-size: 50px
}

ul li {
    list-style: none;
    padding: 24px;
    text-decoration:none ;
    display: inline;
    
}
ul a {
    text-decoration: none;
}